<% if flash[:msg] %>
<div id="mensagem">
	<h2><%=flash[:msg]%></h2>
</div>
<% end %>

<% form_for([:admin, @Highlight], :html => { :multipart => :true }) do |f| %>
	<%=f.error_messages%>
	<label>
		Title:<br>
		<%=f.text_field :title %><br>
	</label><br><br>
	
	<label>
		Link:<br>
		<%=f.text_field :link %><br>
	</label><br><br>
	
	<label>
		Ordem:<br>
		<%=f.text_field :position %><br>
	</label><br><br>
	
	<label>
		Imagem:<br>
		<%=f.file_field :image %><br>
	</label><br><br>
	
	<label>
		Publicado?<br>
		<%=f.radio_button :published, 0 %> Não
		<%=f.radio_button :published, 1 %> Sim  
	</label><br><br>
	
	<button type="submit">Salvar</button>
<% end %>
