<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>AE Content Manager System</title>
<%= include_tiny_mce_if_needed %>
<%= javascript_include_tag "jquery" %>

<%= stylesheet_link_tag "admin"%>

<script type="text/javascript">
    $(function(){
		$("#btnFecharAjuda")
            .click(function(){
                $("#HelpBox")
                    .show()
                    .hide("slow");
            });

        $("#btnAjuda")
            .click(function(){
                $("#HelpBox")
                    .hide()
                    .show("slow");
            });
			
			btnFecharAjuda
    });
	
$(document).ready(function(){
						   
	$("#Menu li").click(function(){
    	window.location=$(this).find("a").attr("href");return false;
	});

}); //close doc ready

</script>
<%=yield :head%>
</head>
<body>
<div id="Geral">
	<div id="Header">
		<div id="Logo"></div>
	</div>
	
	<div id="Menu">
			<li class="MenuItem Home">
				<a href="<%=admin_home_path%>">home</a>
			</li>
			
			<li class="MenuItem Usuarios">
				<a href="<%=admin_users_path%>">usuários</a>
			</li>
			
			<li class="MenuItem Paginas">
				<a href="<%=admin_dynamic_pages_path%>">páginas</a>
			</li>
			
			<li class="MenuItem Destaques">
				<a href="<%=admin_highlights_path%>">destaques</a>
			</li>
			
			<li class="MenuItem Noticias">
				<a href="<%=admin_notices_path%>">notícias</a>
			</li>
			
			<li class="MenuItem Cases">
				<a href="<%=admin_cases_path%>">cases</a>
			</li>
			
			<li class="MenuItem Produtos">
				<a href="<%=admin_sections_path%>">produtos</a>
			</li>
			
			<li class="MenuItem Eventos">
				<a href="<%=admin_events_path%>">eventos</a>
			</li>
			
			<li class="MenuItem Newsreaders">
				<a href="<%=admin_newsletters_path%>">newsreaders</a>
			</li>
			
			<li class="MenuItem Contatos">
				<a href="<%=admin_contacts_path%>">contatos</a>
			</li>
			
			<li class="MenuItem Visitas">
				<a href="<%=admin_schedule_visits_path%>">visitas</a>
			</li>

		</div>
	
	<%=yield%>
	<div id="Footer">
	Agência Econômica&reg; Todos os direitos reservados.
	</div>
	
</div>
</body>
</html>
